@page "/"
@using RemoteRunner.Services
@inject ScriptService ScriptService
@inject IJSRuntime JsRuntime
@inject IUriHelper UriHelper

<button class="btn btn-primary" @onclick="@Action">Click me</button>
<button class="btn btn-primary" @onclick="@Logout">Logout</button>
<p>
@foreach (var line in lines)
{
    @line<br>
}
</p>

@code {
    List<string> lines = new List<string>();
        
    async Task Action()
    {
        var token = await JsRuntime.InvokeAsync<string>("blazorExtensions.ReadToken");

        if(string.IsNullOrWhiteSpace(token))
            UriHelper.NavigateTo("/login");

        foreach(var line in ScriptService.Run(token, "test"))
        {
            lines.Add(line);
        }
    }

    async Task Logout()
    {
        await JsRuntime.InvokeAsync<string>("blazorExtensions.DeleteToken");
        UriHelper.NavigateTo("/login");
    }
}
